.order-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 420px;
    height: 250px;
    padding: 15px;
    box-shadow: 2px 2px 13px 7px rgba(201, 201, 201, 0.36);
    border-radius: 15px;
    margin: 40px auto;
}

.info-text {
    text-align: center;
}