.pizza-image {
    width: 250px;
    height: 250px;
}

.pizza-block {
    display: flex;
    width: 290px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-shadow: 2px 2px 13px 7px rgba(201, 201, 201, 0.36);
    border-radius: 15px;
    margin: 10px;
}

.pizza-link {
    text-decoration: none;
    color: black;
}

.pizza-link p {
    font-size: 22px;
}

.pizza-grid {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
}

.pizza-image-page {
    width: 380px;
    height: 380px;
}

.pizza-image-block {
    box-shadow: 2px 2px 13px 7px rgba(201, 201, 201, 0.36);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.pizza-block-page {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pizza-info {
    display: flex;
    justify-content: space-around;
    height: 60%;
    width: 400px;
    flex-direction: column;
}

.pizza-info p, h2 {
    font-size: 18px;
}
