<!DOCTYPE html>
    <html lang="ru"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>Главная</title>
        <link rel="stylesheet" th:href="@{/styles/css/main.css}">
        <link rel="stylesheet" th:href="@{/styles/css/pizza.css}">
        <link rel="icon" type="image/png" th:href="@{/icon/pizza.png}"/>
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <a th:href="@{/}">
                    <img class="logo-icon" th:src="@{/icon/pizza.png}">
                </a>
                <a class="logo-text" th:href="@{/}">Soneech Pizza</a>
            </div>
            <div class="auth">
                <a class="sign-in auth-links" th:href="@{/login}" sec:authorize="isAnonymous()">
                    Войти
                </a>
                <a class="sign-up auth-links" th:href="@{/registration}" sec:authorize="isAnonymous()">
                    Зарегистрироваться
                </a>
                <a class="profile" th:href="@{/user/profile}" sec:authorize="isAuthenticated()">
                    <img th:src="@{/icon/profile.png}" class="links-img profile-img">
                </a>
                <a class="basket" th:href="@{/users/basket}" sec:authorize="isAuthenticated()">
                    <img th:src="@{/icon/basket.png}" class="links-img basket-img">
                </a>
            </div>
        </div>

        <div class="main">
            <div class="content">
                <p class="greeting-text">Добро пожаловать в Soneech Pizza!</p>
                <div class="pizza-grid">
                    <div class="pizza-block" th:each="pizza: ${pizzas}">
                        <a class="pizza-link" th:href="@{/pizza/{id}(id=${pizza.getId()})}">
                            <img class="pizza-image" th:src="@{/image/pizza/{file}(file=${pizza.getImage().getFileName() + img_extension})}">
                            <p class="pizza-name" th:text="${pizza.getName()}"/>
                            <p class="pizza-price" th:text="${pizza.getPrice()} + 'р'"/>
                        </a>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div>
                    <p class="author">© Soneech, 2023</p>
                </div>
                <div class="links">
                    <a class="github" href="https://github.com/Soneech">
                        <img th:src="@{/icon/github.png}" class="links-img github-img">
                    </a>
                    <a class="vk" href="https://vk.com/soneech">
                        <img th:src="@{/icon/vk.png}" class="links-img vk-img">
                    </a>
                    <a class="telegram" href="https://telegram.me/sonechous">
                        <img th:src="@{/icon/telegram.png}" class="links-img telegram-img">
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>