<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>Заказ</title>
        <link rel="stylesheet" th:href="@{/styles/css/main.css}">
        <link rel="stylesheet" th:href="@{/styles/css/basket.css}">
        <link rel="stylesheet" th:href="@{/styles/css/order.css}">
        <link rel="stylesheet" th:href="@{/styles/css/make_order.css}">
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <a th:href="@{/}">
                    <img class="logo-icon" th:src="@{/icon/pizza.png}">
                </a>
                <a class="logo-text" th:href="@{/}">Soneech Pizza</a>
            </div>
            <div class="header-links-block">
                <a class="admin header-links" th:href="@{/admin}" sec:authorize="hasAuthority('ADMIN')">
                    Админ
                </a>
                <a class="profile header-links" th:href="@{/user/profile}">
                    Профиль
                </a>
                <a class="basket header-links" th:href="@{/user/basket}">
                    Корзина
                </a>
            </div>
        </div>

        <div class="main">
            <div class="content">
                <p class="head-text">Информация о заказе</p>
                <div class="order-cart">
                    <h3>Заказ № <span th:text="${order.getNumber()}"></span></h3>

                    <p class="info-text" th:if="${order.getIsActive()}">Активный</p>
                    <p class="info-text" th:if="${!order.getIsActive()}">Завершённый</p>

                    <div sec:authorize="hasAuthority('ADMIN')">
                        <p class="info-text">Информация о покупателе:</p>
                        <p class="username">Имя: <span th:text="${order.getUser().getName()}"></span></p>
                        <p class="phone-number">Телефон:
                            <span th:text="${order.getUser().getPhoneNumber()}"></span></p>
                    </div>

                    <div class="address">
                        <p class="info-text">Адрес доставки:</p>
                        <p th:text="${'г. ' + order.getAddress().getCity()}"></p>
                        <p th:text="${order.getAddress().getStreet() + ', ' +
                                                                order.getAddress().getHouseNumber()}"></p>
                        <p>Детали: <span th:text="${order.getAddress().getDetails()}"/></p>
                    </div>
                </div>

                <p class="head-text1">Заказанные товары:</p>

                <div class="products">
                    <div class="product-cart" th:each="product: ${order.getOrdersData()}">
                        <div class="pizza-image-block">
                            <img class="pizza-image"
                                 th:src="@{/image/pizza/{file}(file=${product.getPizza().getImage().getFileName()
                                                + imgExtension})}">
                        </div>

                        <div class="product-into">
                            <p class="pizza-name" th:text="${product.getPizza().getName()}"></p>
                            <p class="pizza-price">Цена за одну: <span th:text="${product.getPizza().getPrice()}"/>р</p>
                            <p>Количество: <span class="pizza-count" th:text="${product.getCount()}"/></p>
                            <p class="pizza-cost">Итого: <span th:text="${product.getCost()}"/>р</p>
                        </div>
                    </div>
                </div>

                <p class="head-text1">Итоговая цена: <span class="total-cost" th:text="${order.getCost()}"/>р</p>

                <form th:method="POST" th:action="@{/admin/orders/close/{id}(id=${order.getId()})}"
                      sec:authorize="hasAuthority('ADMIN')" class="close-form"
                        th:if="${order.getIsActive()}">

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="submit" class="button" value="Закрыть заказ">
                </form>
            </div>

            <div class="footer">
                <div>
                    <p class="author">© Soneech, 2023</p>
                </div>
                <div class="links">
                    <a class="github" href="https://github.com/Soneech">
                        <img th:src="@{/icon/github.png}" class="links-img github-img">
                    </a>
                    <a class="vk" href="https://vk.com/soneech">
                        <img th:src="@{/icon/vk.png}" class="links-img vk-img">
                    </a>
                    <a class="telegram" href="https://telegram.me/sonechous">
                        <img th:src="@{/icon/telegram.png}" class="links-img telegram-img">
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>