<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>Активные заказы</title>
        <link rel="stylesheet" th:href="@{/styles/css/main.css}">
        <link rel="stylesheet" th:href="@{/styles/css/order.css}">
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <a th:href="@{/}">
                    <img class="logo-icon" th:src="@{/icon/pizza.png}">
                </a>
                <a class="logo-text" th:href="@{/}">Soneech Pizza</a>
            </div>
            <div class="header-links-block">
                <a class="admin header-links" th:href="@{/admin}" sec:authorize="hasAuthority('ADMIN')">
                    Админ
                </a>
                <a class="profile header-links" th:href="@{/user/profile}">
                    Профиль
                </a>
                <a class="basket header-links" th:href="@{/user/basket}">
                    Корзина
                </a>
            </div>
        </div>

        <div class="main">
            <div class="content">
                <div class="orders">
                    <p class="head-text" th:text="${message}"></p>

                    <div class="order-cart" th:each="order: ${orders}">
                        <h3>Заказ № <span th:text="${order.getNumber()}"/></h3>

                        <p class="info-text" th:if="${order.getIsActive()}">Активный</p>
                        <p class="info-text" th:if="${!order.getIsActive()}">Завершённый</p>

                        <div class="user-info" sec:authorize="hasAuthority('ADMIN')">
                            <p class="info-text">Информация о покупателе:</p>
                            <p class="username">Имя: <span th:text="${order.getUser().getName()}"></span></p>
                            <p class="phone-number">Телефон:
                                <span th:text="${order.getUser().getPhoneNumber()}"></span></p>
                        </div>

                        <div class="address">
                            <p class="info-text">Адрес доставки:</p>
                            <p th:text="${'г. ' + order.getAddress().getCity()}"></p>
                            <p th:text="${order.getAddress().getStreet() + ', ' +
                                                                order.getAddress().getHouseNumber()}"></p>
                            <p>Детали: <span th:text="${order.getAddress().getDetails()}"/></p>
                        </div>

                        <a      th:if="${order.getIsActive()}"
                                th:href="@{/user/orders/active/{id}(id=${order.getId()})}"
                                class="main-links">Подробнее</a>

                        <a      th:if="${!order.getIsActive()}"
                                th:href="@{/user/orders/completed/{id}(id=${order.getId()})}"
                                class="main-links">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div>
                    <p class="author">© Soneech, 2023</p>
                </div>
                <div class="links">
                    <a class="github" href="https://github.com/Soneech">
                        <img th:src="@{/icon/github.png}" class="links-img github-img">
                    </a>
                    <a class="vk" href="https://vk.com/soneech">
                        <img th:src="@{/icon/vk.png}" class="links-img vk-img">
                    </a>
                    <a class="telegram" href="https://telegram.me/sonechous">
                        <img th:src="@{/icon/telegram.png}" class="links-img telegram-img">
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>